body {
  font-family: 'Noto Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

/*
 * GENERIC HELPERS
 */
.text-muted {
  color: #666;
}

.text-tt {
  font-family: 'Space Mono', monospace;
}

/*
 * PAGE
 */
.page-container {
  display: flex;
  flex-direction: row-reverse;
}

/*
 * SIDEBAR
 */

.sidebar {
  width: 25%;
  min-width: 400px;

  margin-right: 1.5rem;
}

.player-list {
  width: 100%;
  border-radius: 4px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  background-color: #1e88e5;

}

.player {
  display: flex;
  align-items: center;

  border-radius: 2px;
  background-color: rgb(255,255,255,0.5);
  margin: 0.5rem;
}

.player.me {
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
  background-color: rgb(255,255,255,0.7);
}

.player > * {
  margin: 0.5rem;
}

.player a {
  text-decoration: none;
}

.kick-button {
  text-shadow: 1px 1px 2px #ff888890;
  margin-left: 0.5rem;
  display: inline-block;
  transition: 0.2s all;
}

.kick-button:hover {
  text-shadow: 1px 1px 4px #ff3333ff;
}

.gameId {
  text-align: center;
  font-size: 95%;
  margin: 0.3rem;
}

/*
 * PURE MENU (NAVBAR)
 */
.pure-menu {
  overflow: hidden;
}

.pure-menu-item {
  height: auto !important;
}

.page-header {
  background-color: #212121;
}

.page-header-fin {
  float: right;
}

.page-header .pure-menu-active > .pure-menu-link, .page-header .pure-menu-link:focus, .page-header .pure-menu-link:hover {
  background-color: #424242;
}

.page-header .pure-menu-heading {
  color: #90a4ae;
}

.page-header .pure-menu-link {
  color: #999;
}

.page-header .pure-menu-selected > .pure-menu-link, .page-header .pure-menu-selected > .pure-menu-link:visited {
  color: #fff;
}

.pure-menu-link.pure-menu-error {
  background: rgb(202, 60, 60);
  color: #eee;
}

.pure-menu-link.pure-menu-error:hover {
  background: rgb(202, 60, 60);
}

.admin-actions {
  margin-top: 0.5rem;
}

.admin-actions .pure-button {
  font-size: 85%;
  margin: 0.5rem;
}

/*
 * GAME HEADER
 */

.game-header {
  height: 5rem;
  background-color: #1565c0;
  color: #ffffff;

  text-align: center;

  display: flex;
  align-content: center;
  align-items: center;

  font-size: 12pt;

  margin-bottom: 0.5rem;
}

.game-header-done {
  background-color: rgb(28, 184, 65);
}

.game-header > * {
  flex: 1 1 auto;
}

.game-header-me {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20%;
}

.my-status {
  font-size: 1.5rem;
  font-weight: 500;

  width: 60%;
}

.game-status {
  width: 20%;
}

.my-username {
  margin-left: 2rem;
}

.avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 9999px;
  flex-shrink: 0;

  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.username {
  flex: 1 1 auto;
}

/*
 * BUTTONS
 */
.pure-button.pure-button-success {
  background-color: rgb(28, 184, 65);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button.pure-button-danger {
  background-color: rgb(202, 60, 60);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/*
 * PAGE
 */
.page {
  width: 65%;
  margin: 2rem;
  border: 1px solid #0d47a199;
  box-shadow: 0 0 15px -7px #5472d3;
  border-radius: 1px;
  height: 65vh;
}

.page > * {
  height: 100%;
}

.pure-button.landing-button {
  font-size: 125%;
  padding: 1.5rem;
}

.hall {
  height: 100%;
  width: 60%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.hall > * {
  margin: 3px 0;
}

.landing-join {
  display: flex;
}

.landing-join > * {
  flex: 1 1 auto;
}

.landing-join > *:first-child {
  margin-right: 2rem;
}

.landing-join input {
  min-width: 100px;
}

.landing-join label {
  align-self: center;
}

.game-link-presentation {
  text-align: center;
  font-size: 125%;
}

.game-link-large {
  display: inline-block;
  margin-top: 2rem;
  font-size: 150%;

  text-decoration: none;
  color: #37474f;

  border-bottom: 2px solid transparent;

  overflow-wrap: anywhere;
}

.game-link-large:hover {
  border-bottom: 2px solid #546e7a;
}

.game-link-protocol, .game-link-host {
  color: #90a4ae;
}

/*
 * GAME (STARTING PAGE)
 */
.text-starting {
  text-align: center;
  font-size: 15pt;
}

.text-starting-input {
  font-size: 14pt;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
  margin: 0 auto;
  width: 70%;
  max-width: 100%;
  max-height: 100%;
  min-width: 10%;
}

/*
 * GAME (DRAWING PAGE)
 */
 .drawing {
  text-align: center;
  font-size: 15pt;
}

.drawing-prompt > * {
  text-align: center;
  display: block;
  margin: 5px;
}

.drawing-subject {
  font-size: 20pt;
  font-weight: bold;
}

.drawing-canvas {
  width: 100%;
  min-height: 40%;

  max-width: 100%;
  min-width: 30%;
}

.drawing-canvas .editable-canvas-image {
  max-width: 100%;
}

.drawing-size-buttons {
  display: inline-block;
  vertical-align: top;
}

.drawing-size-buttons button {
  height: 32px;
  width: 3rem;
  overflow: hidden;
  text-align: center;
  padding: 0;
}

.drawing-size-buttons button i {
  pointer-events: none;
}

.drawing-size-buttons button:nth-child(1) {
  font-size: 5pt;
}

.drawing-size-buttons button:nth-child(2) {
  font-size: 10pt;
}

.drawing-size-buttons button:nth-child(3) {
  font-size: 15pt;
}

.drawing-size-buttons button:nth-child(4) {
  font-size: 20pt;
}


/*
 * GAME (UNDERSTANDING PAGE)
 */
.understanding {
  text-align: center;
}

.understanding-prompt {
  max-height: 50%;

  display: flex;
  flex-direction: column;
  min-height: 0;
}

.understanding-prompt-intro {
  color: #333;
  margin-bottom: 0.3rem;
}

.understanding-image {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  flex: 0 1 auto;

  min-height: 100px;
  min-width: 100px;
}

.understanding-write {
  display: flex;
  flex-direction: column;
  max-height: 70%;
}

.text-understanding-input {
  font-size: 14pt;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: 100%;
  max-width: 100%;
  max-height: auto;
  min-width: 10%;
}


.understanding-write-intro {
  margin-bottom: 0.5rem;
  font-size: 15pt;
}

.understanding-button {
  width: 100%;
}
