body {
  font-family: Noto Sans, sans-serif;
}

.sidebar {
  width: 25%;
  border-radius: 4px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(157, 199, 255);

  float: right;
}

.player {
  display: flex;
  align-items: center;

  border-radius: 2px;
  background-color: rgb(255,255,255,0.5);
  margin: 0.5rem;
}

.player.me {
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
  background-color: rgb(255,255,255,0.7);
}

.player > * {
  margin: 0.5rem;
}

.player a {
  text-decoration: none;
}

.avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 9999px;
  flex-shrink: 0;

  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.username {
  flex: 1 1 auto;
}
